<div class="sidenote">
  <h1 class="contact">Kapcsolatok</h1>
  <p><mat-icon class="icon"> phone</mat-icon><span class="p1">+36-70-5152466</span></p>
  <p><mat-icon class="icon">mail</mat-icon><span class="p1">galvacs11@gmail.com</span></p>
</div>
  <section class="container">
    <div class="div1"><h1 class="h1title">Oktatási segédanyag</h1></div>
    <hr>
      <div class="col-md-11 left_inner_content">
        <h1>Üdvözöllek!</h1>
        <p class="p2">Ez a weboldal egy online segédanyag a <i>Bevezetés az Informatikába</i> nevű egyetemi tárgyhoz.
        A weboldalon megtalálhatsz a tágyhoz tartozó tananyagot fejezetekre bontva, elősegítve az órákhoz való felkészülésedet.</p>
        <p class="p2">Első sorban szeretnénk megkérni minden ide tévedt hallgatót, hogy töltsön ki egy rövid űrlapot. Az űrlap célja, hogy felmérjük hányan és melyik egyetemről látogattak el hallgatók a weboldara.
        Az adatokat természetesen szígorúan tároljuk és nem adjuk ki senkinek.  <a href="" routerLink="/studentregister">[Űrlap]</a>
        </p>
      </div>
    
</section>
