<div class="sidenote">
  <h1 class="contact">Kapcsolatok</h1>
  <p><mat-icon class="icon"> phone</mat-icon><span class="p1">+36-70-5152466</span></p>
  <p><mat-icon class="icon">mail</mat-icon><span class="p1">galvacs11&#64;gmail.com</span></p>
</div>
  <section class="container">
    <div class="div1"><h1 class="h1title">Oktatási segédanyag</h1></div>
    <hr>
      <div class="col-md-11 left_inner_content">
        <h1>Üdvözöllek {{currentuser.user.lastName}} {{currentuser.user.firstName}}!</h1>
        <p class="p2">Ez a weboldal egy online segédanyag a <i>Bevezetés az Informatikába</i> nevű egyetemi tárgyhoz.
        A weboldalon megtalálhatsz a tágyhoz tartozó tananyagot fejezetekre bontva, elősegítve az órákhoz való felkészülésedet.</p>
        <p class="p2">Minden fejezet végen találni fogsz néhány kérdést ami segítségével át tudod ismételni a fejezetben tanultakat.
        Ezeket a kérdéseket bármennyiszer megválaszolhatod. Ha nem találnád el elsőre a választ akkor a fejezetben vissza tudod keresni azt,
        de azt javaslom, hogy ne ez legyen az első gondolatod egy rossz válasz után. </p>
        <p class="p2">A fenti Menüpont lenyitásával egy oldalsáv fog megjelenni az oldal bal oldalán. Itt találod meg a tananyag fejezeteit és megtudod nézni a profil adataidat is.</p>
        <p class="p2">Az oldalon autamikus kijelntkeztető funkció van érvényben. Tehát 20 perc inaktivitás után az oldal kijelentkezet,
        de utána újra vissza bírsz jelentkezni és folytathatod a tanulást! </p>
        <p class="p2">Jó tanulást!</p>
      </div>
    
</section>
