<div class="sidenote">
    <h1 class="contact">Kapcsolatok</h1>
    <p><mat-icon class="icon"> phone</mat-icon><span class="p1">+36-70-5152466</span></p>
    <p><mat-icon class="icon">mail</mat-icon><span class="p1">galvacs11&#64;gmail.com</span></p>
</div>
<section class="container">
    <div class="div1"><h1 class="h1title">10. Fejezet</h1>
        <br> <h2 class="h2title"> Az információ</h2></div>
        <hr>
        <div class="col-md-11 left_inner_content">
            <div class="content">
                <h2 class="h2content">Célok, megszerezhető kompetenciák:</h2>
                <p>Ebben a fejezetben megismerkedünk az információ fogalmával, útjával, mérésével és prefixumokkal.</p>
                <h2 class="h2content">Szükséges eszközök, források:</h2>
                <p>Papír, ceruza, radír, böngésző.</p>
                <h2 class="h2content">Feldolgozási idő:</h2>
                <p>2+2 óra</p>
                <h2 class="h2content">Témakörök:</h2>
                <ul>
                    <li>információ fogalma,</li>
                    <li>információ útja,</li>
                    <li>információ mérése és alapegysége,</li>
                    <li>prefixumok.</li>
                </ul>
                <h2 class="h2content">A lecke tartalma:</h2>
                <h1 class="h1content">Az információ fogalma</h1>
                <p>Az ember először az anyaggal barátkozott meg és csak a 18–19. században ismerte meg az energiát, majd a 20. században felfedezte az információt. A szervezettség mai szintjére kellett emelkedni ahhoz, hogy felismerje: az információ éppen olyan főszerepet játszik a világban, mint az anyag és az energia. A levegő, víz, táplálék és hajlék mellett az információ is az ember alapvető szükségletei közé tartozik. Életünk, sőt létünk fenntartása is attól függ, hogy a megfelelő információk időben eljussanak hozzánk, illetve érzékeljük azokat. Lássuk az előttünk lévő szakadékot, akadályt, halljuk a közeledő autó zúgását, érzékeljük a hőmérsékletet, megértsük a számunkra jelentőséggel bíró szóbeli vagy írásbeli közléseket stb. Az agy is csak úgy őrizheti meg normális egészségi állapotát, ha állandóan új információkkal táplálkozik, amivel ismeretünk, tudásunk gyarapszik.</p>
                <p>Az ismeretnek ahhoz, hogy közölhető legyen, azaz információvá váljék, anyagi hordozóra, és ahhoz, hogy eljusson a címzetthez, energiára van szükség. Az információt az különbözteti meg az anyagtól és az energiától, hogy nem érvényesek rá a megmaradási tételek. Az információ megsemmisíthető és létrehozható. A fontosabb információk megóvására külön védelmi előírások vannak.
                <br>Az előzőek során már próbáltuk körül írni az információ fogalmát. Köznapi értelemben az információk értesülések, ismeretek, hírek ismeretlen vagy kevéssé ismert dolgokról vagy eseményekről. Egzakt megfogalmazása éppoly nehéz mint az anyag definíciója. Az értesülés, ismeret, hír ugyanis csak más szóval helyettesíti az információt. Az értesülés, ismeret vagy hír azonban önmagában még nem információ. Mert egyrészt, ha valaki azt már ismeri, annak semmi információt nem jelent, másrészt viszont, ha valaki nem érti meg, és nem tudja felfogni, annak sem információ.
                <br>Az információnak tehát fontos velejárója, hogy valami újat közölhet, vagy másképpen fogalmazva bizonytalanságot szüntethet meg, amely döntésre, válaszra, magatartásunk megváltoztatására késztethet.
                </p>
                <p>Barátunk, akivel megállunk beszélgetni, az újság amit elolvasunk, a rádió hangszórója, a televízió képernyője, a hangversenyen hallgatott zeneszám, a közlekedési jelzőtábla, a virág amit megszagolunk, az étel amit megkóstolunk stb. mind információt közöl velünk.
                    <br>Az információ közlésnek fontos részelemei, hogy birtokosa közlésre alkalmas formába öltöztesse, kódolja, amit el kell juttatni a befogadóhoz, aki – ha valóban befogadta, magáévá tette, dekódolta – cselekvéssel, magatartásának megváltoztatásával, vagy új információkkal válaszolhat.
                </p>
                <p><b>Definíció</b>Az információk tartalmukban és formájukban különböznek, de lényegük ugyanaz, új ismereteket hordozó jelek tartalmi jelentésének befogadása, amely valamilyen tevékenységre (válasz, döntés stb.) késztethet.</p>
                <p>Az információ és az ember kapcsolatában, az emberiség eddigi történetében hat jelentős állomás volt.</p>
                <ul>
                    <li>A beszéd, ami a gondolatok, információk közlésének alapvető formája.</li>
                    <li>Az írás, amellyel az információtárolás függetlenné vált az emlékezettől.</li>
                    <li>A könyvnyomtatás, amely az információ terjesztésénél játszott fő szerepet.</li>
                    <li>A távközlés, az információs összeköttetéseknek nyitott lehetőséget.</li>
                    <li>Az elektronikus információfeldolgozás, amely megteremtette az ember – gép párbeszéd lehetőségét.</li>
                    <li>Az internet megjelenése, amely lehetővé tette az információ szabad áramlását, és robbanásszerű növekedését.</li>
                </ul>
                <p>A társadalom fejlődését az utóbbi évszázadokban az információtermelés exponenciális növekedése és az információk áramlásának a gyorsulása jellemezte. Az embernek mind bonyolultabb szituációkban, mind nagyobb mennyiségű információk alapján, mind gyorsabban kell döntéseket hoznia. A legszélsőségesebb példa erre az űrrakéták irányítása, ahol a pálya paramétereinek a figyelembevételével, a szó szoros értelmében „azonnal" kell dönteni.
                <br>Az információrobbanás következtében az információ is a munka tárgya lett, mint az anyag és az energia.
                </p>
                <p>Az anyaggal és energiával kapcsolatban négy fő műveletet végzünk: tárolás, szállítás, alakítás, feldolgozás, amelyekhez megfelelő technikai eszközök, gépek is rendelkezésre állnak. Mivel az információ az anyaggal és az energiával szoros kapcsolatba hozható, ezért célszerűnek tűnik, hogy az információval is mint a munka tárgyával a fenti négy fő műveletet vizsgáljuk, amelyek meghatározzák a műveletekhez tartozó technikai eszközöket is:</p>
                <ul>
                    <li>gyűjtés: mérőeszközök, érzékelők stb.,</li>
                    <li>tárolás: film-, hangfelvevő, DVD, Bluray Disc, merevlemez, szerver farmok, felhők, Cloud computing stb.,</li>
                    <li>szállítás: híradástechnikai, hálózati eszközök. Vezetékes és vezetéknélküli adatátvitel,</li>
                    <li>alakítás: számítástechnikai eszközök, digitalizálók.</li>
                </ul>
                <p>A számítástechnikai eszközöknél noha az átalakítás a fő művelet – fejlettségüktől függően – megtaláljuk a többi műveletet (gyűjtés, tárolás, szállítás) és azok speciális eszközeit is. Például mérőeszközről gyűjt információt valamely folyamatban, vagy hírközlési eszközök felhasználásával nagyobb távolságról, és az eredmények tárolására sokféle eszközzel rendelkezik.</p>
                <h2 class="h2content">Az információ útja (átvitele)</h2>
                <p>Minden információ-közlésnél legalább három alkotórészt ismerünk fel:</p>
                <ol>
                    <li>Adó vagy forrás</li>
                    <li>Vevő vagy nyelő</li>
                    <li>Továbbító közeg, vagy csatorna, amely a közleményt az adótól a vevőhöz eljuttatja, illetve összeköti azokat.</li>
                </ol>
                <p>A csatornán bizonyos – a csatorna fizikai tulajdonságaitól függő – meghatározott típusú jelek továbbíthatók. Ezért a továbbítandó közleményt a csatornán átvihető jelek segítségével kell kifejezni, vagyis az információt a továbbításhoz megfelelően át kell alakítani (kódolás), majd a csatorna után ismét át kell alakítani a vevő számára (dekódolás).
                <br>Az adó az az objektum, ami az információt, vagyis a továbbítandó közleményt szolgáltatja, pontosabban:
                </p>
                <p style="text-align: center;">A<sub>1</sub>,A<sub>2</sub>,...,A<sub>n</sub></p>
                <p>jeleket ad le. Például az ábécé betűi, morze jelek: pont, vonás, szünetjel stb.</p>
                <p>A kódoló ezt a közleményt a csatornán való továbbításhoz megfelelően átalakítja, vagyis a csatornán átvihető jelek segítségével fejezi ki. A forrás által adott jeleket nevezhetjük egy közlési nyelv ábécéjének is, amelyekből szó vagy közlemény állítható elő.</p>
                <h2 class="h2content">Kódolás</h2>
                <p>Kódolás olyan eljárás, amely egy nyelv véges ábécéjéből képezett szavakat kölcsönösen egyértelműen hozzárendel egy másik nyelv meghatározott szavaihoz.</p>
                <p>A csatorna a kódközleményt továbbítja a vevő felé. A csatornában lehetnek nem kívánt források is, mint pl. rádiónál és televíziónál a zörej, telefonnál az áthallás stb. Az ilyen forrásokat zajforrásoknak vagy egyszerűen zajnak nevezzük. A kódolt közleménynek olyannak kell lenni, amely kevésbé érzékeny a zajra. A számítástechnikában követelmény a zajmentes továbbítás.
                <br>A dekódoló a csatorna kimeneti oldalán vett közleményt megfejti, vagyis az információt a vevő számára eredeti formájába visszaalakítja.
                <br>Dekódolás, a kódolás megfordítása
                </p>
                
                <h2 class="h2content">Az információ mérése</h2>
                <p>Az információ átviteli berendezések előállításának, megvalósításának csak akkor van értelme, ha tudjuk mérni az információt és átvitelét valamilyen formában. Ezért szükséges, hogy az információt matematikailag is kezelhetővé tegyük. Az információ tárolás, átalakítás és továbbítás matematikai problémáit, a valószínűségszámítás egy új ága az információelmélet vizsgálja. Az információelmélet elvi alapjait C. Shannon rakta le az 1948–49-es években.</p>
                <p>Az információ méréséhez definiálni kell a mértékegységet. A mérték fogalmának kialakításánál figyelembe kell venni, hogy az független az információ</p>
                <ul>
                    <li>tartalmától és</li>
                    <li>alakjától.</li>
                </ul>
                <p>Itt is úgy kell eljárni, ahogy azt a táviratfeladásnál a postai alkalmazottak teszik. A költség meghatározásánál, csak a szavakat veszik figyelembe, a tartalmat nem nézik.
                <br>A mérték általános definíciója előtt, vizsgáljunk egy egyszerűbb információforrást, amely 
                </p>
                <p style="text-align: center;">&#10100;0,1,2,3,4,5,6,7&#10101;</p>
                <p>jeleket bocsát ki egyenlő valószínűséggel. Határozzuk meg az egy jelre jutó információ mennyiségét. A kérdés úgy is megfogalmazható, hogy mennyi információt jelent a 8 jelből egy konkrét jel (számjegy) kiválasztása. Átfogalmazva a problémát, megkérünk valakit, hogy válasszon ki a 8 számjegyből egy számot és feleljen a kérdésünkre igennel vagy nemmel, amivel kérdéseink után információhoz jutunk, bizonytalanságot szüntetünk meg. Hány kérdéssel tudjuk a kiválasztott számot meghatározni? Eljárás:</p>
                <ol>
                    <li>kérdés: Nagyobb mint 3?<br>Ezzel a felére csökkentjük a bizonytalanságot, mert vagy az első felében van, vagy a másodikban.</li>
                    <li>kérdés: Ha az első felében van, akkor nagyobb mint 1?<br>Ha a második felében van, akkor nagyobb mint 5? Ezzel ismét felére csökkentjük a bizonytalanságot.</li>
                    <li>kérdés: Attól függően, hogy melyik két számjegy marad meg, közvetlenül rákérdezünk a számjegyre: 1 vagy 3 vagy 5 vagy 7, amelyre ha a válasz igen, akkor megtaláltuk a keresett számot, ha nem, a válasz akkor is megtalálható.</li>
                </ol>
                <p>A kérdésekre adott igen vagy nem válaszokat 1 illetve 0-val felírva egyébként a keresett számjegy 2-es számrendszerbeli alakját kapjuk, ami ugyancsak szolgáltatja a keresett számot.
                <br>Tehát a számjegy kiválasztásához 3 kérdés, vagy 3 db 2-es számrendszerbeli jegy szükséges, így azt is mondhatjuk, hogy az egy jelre jutó információ 3 egységnyi.
                </p>
                <p><b>Definíció</b>Ha a forrás (adó)</p>
                <p style="text-align: center;">A<sub>1</sub>,A<sub>2</sub>,...,A<sub>n</sub></p>
                <p>jeleket bocsátja ki és</p>
                <p style="text-align: center;">n = 2<sup>m</sup> - (n > 0),</p>
                <p>továbbá a jelek kibocsátásának valószínűsége egyenlő, vagyis</p>
                <p style="text-align: center;">p=1/n,(i=1,2,..,n),</p>
                <p>akkor az előző eljárást alkalmazva az n elemű jelhalmaz egy konkrét elemének kiválasztásához m kérdésre van szükség, tehát az egy jelre jutó információ m.</p>
                <p>Ezen gondolatok alapján javasolták az információ mértékéül az n, 2-es alapú logaritmusát, ugyanis</p>
                <p style="text-align: center;">log<sub>2</sub>n = log<sub>2</sub>2<sup>m</sup> = m .</p>
                <p>A mértékegysége így</p>
                <p style="text-align: center;">log<sub>2</sub>n = 1 miatt n=2 ,  p=1/2</p>
                <p>és a neve 1 bit.</p>
                <p><b>Definíció</b>Az információ mértékegysége 1 bit (binary unit) : két egyenlően valószínű jel egyikének kiválasztásához tartozó információmennyiség.</p>
                <p style="text-align: center;">log<sub>2</sub>2=-log<sub>2</sub>1/2=-log<sub>2</sub>p=1 bit.</p>
                <p>Ha a tanár vagy diáktárs a felelőnek bólint, megerősíti annak válaszát a feleletnél, akkor 1 bit információt közöl.</p>
                <h3 class="h3content">Példa</h3>
                <ol>
                    <li>Hány bit információt képvisel egy 32 lapos magyar kártya egy lapja?
                        <br>log<sub>2</sub>32 = log<sub>2</sub>2<sup>5</sup> = 5 bit.
                        <br>Hogyan fogalmazhatók meg a kérdések?
                    </li>
                    <li>Hány bit információt jelent a sakktáblán egy figura helye, amely minden mezőre léphet?
                        <br>log<sub>2</sub>64 = log<sub>2</sub>2<sup>6</sup> = 6 bit.
                    </li>
                    <li>Hány bit információt képvisel egy decimális számjegy?
                        <br>log<sub>2</sub>10 ≈ 3,32 bit.
                        <br>(Tehát 3 kérdéssel nem mindig határozható meg.)
                    </li>
                </ol>
                <p>Az élő nyelvben nem minden jel hordoz információt, például a jelentékte...szótöredék után, már mindenki tudja, hogy a „len" betűkombináció következik. Az élő nyelvek bizonyos redundanciával rendelkeznek, amelyek jó szolgálatot tesznek a hétköznapi kommunikációnál, ahol a „csatornában" levő zajok miatt a szófoszlányokból is értelmesen tudunk dekódolni.
                <br>A mi értelmezésünk szerint ilyen nem lehetséges és minden jelkombinációnak értelmes szónak kell lenni. Ez azt jelenti, hogy pl. a 24 betűs ábécében már 3 jeles szavakból összeállítható lenne egy közelítőleg 14 ezres szókincsű nyelv kialakítása (243 = 13824). Ez a redundancia-mentes nyelv azonban nehezen lenne beszélhető.
                </p>

                <h2 class="h2content">Prefixumok</h2>
                <img src="assets/pic109.jpg">
                <p>A felsorolt bináris előtagok a bit és a byte előtt egyaránt alkalmazhatóak.</p>
                <h3 class="h3content">Példa</h3>
                <p>A következő C++ kód kiírja a bináris prefixeket és azok értékeit. A BinaryPrefix struktúra tartalmazza a prefixeket (például, "K", "M", "G") és azokhoz tartozó szorzótényezőt. A printBinaryPrefixes függvény végigmegy a prefixek listáján, és kiírja az egyes prefixeket és az azokhoz tartozó (Byte) értékeket.</p>
                <pre>
                    <kbd>
                        include &lt;iostream>
                            #include &lt;vector>
                            using namespace std;
                            struct BinaryPrefix &#10100;
                                string symbol;
                                unsigned long long multiplier;
                            &#10101;
                            
                            void printBinaryPrefixes() &#10100;
                                vector&#10100;BinaryPrefix> prefixes = 
                                &#10100;"", 1&#10101;,
                                &#10100;"K", 1024&#10101;,
                                &#10100;"M", 1024 * 1024&#10101;,
                                &#10100;"G", 1024 * 1024 * 1024&#10101;,
                                &#10100;"T", 1024ULL * 1024 * 1024 * 1024&#10101;,
                                &#10100;"P", 1024ULL * 1024 * 1024 * 1024 * 1024&#10101;,
                                &#10100;"E", 1024ULL * 1024 * 1024 * 1024 * 1024 * 1024&#10101;,
                                &#10100;"Z", 1024ULL * 1024 * 1024 * 1024 * 1024 * 1024 * 1024&#10101;,
                                &#10100;"Y", 1024ULL * 1024 * 1024 * 1024 * 1024 * 1024 * 1024 * 1024&#10101;
                                &#10101;;
                            
                                for (const auto& prefix : prefixes) &#10100;
                                    cout &lt;&lt; "1 " &lt;&lt; prefix.symbol &lt;&lt; "Byte = " &lt;&lt; prefix.multiplier &lt;&lt; " bytes" &lt;&lt; endl;
                                &#10101;
                                &#10101;
                            int main() &#10100;
                                printBinaryPrefixes();
                                return 0;
                            &#10101;
                            
                    </kbd>
                </pre>
                <figure>
                    <img src="assets/pic110.jpg">
                    <figcaption>39. ábra Bináris prefixek C++ kód</figcaption>
                </figure>
                <p>Probléma, hogy az std::uint64_t típus csak 64 bitet tud tárolni, így nem képes kezelni a ZByte és YByte méretet. 128 bites adatszerkezetre lenne szükségünk, hogy kiírassuk az utolsó két bináris prefixet. A szabványos C++ típusok nem elegendőek, mivel azok korlátozott mérettel rendelkeznek, szükséges olyan speciális adattípus vagy adatstrukta használata, amelyek 128 bitet is képesek tárolni. A 128 bites adatszerkezetek támogatása azonban már erősen platformfüggő!</p>
                
            </div>
        </div>
</section>