<section class="container">
	<div>
	<h1 style="text-align: center;">Regisztráció</h1>
	<div class="tab-content">
    <form *ngIf="!isSuccessful" name="user" (ngSubmit)="registerForm.form.valid && onSubmit()" #registerForm="ngForm" novalidate>
      <div class="register-container">
				<div class="row">
					<div class="col-md-12">
      <div class="form-group">
        <label for="firstNameLabel"><b>Keresztnév:</b></label>
        <input type="text"id="firstNameLabel" class="form-control"name="firstName"[(ngModel)]="user.firstName"required #firstName="ngModel"/>
      </div>
      <div class="form-group">
        <label for="lastNameLabel"><b>Vezetéknév:</b></label>
        <input type="text"id="lastNameLabel" class="form-control"name="lastName"[(ngModel)]="user.lastName"required #lastName="ngModel"/>
      </div>
      <div class="form-group">
        <label for="schoolLabel"><b>Egyetem</b></label>
        <input type="text"id="schoolLabel" class="form-control"name="school"[(ngModel)]="user.school"required #school="ngModel"/>
      </div>
      <div class="form-group">
        <label for="majorLabel"><b>Szak</b></label>
        <input type="text" id="majorLabel"class="form-control"name="major"[(ngModel)]="user.major"required #major="ngModel"/>
      </div>
      <div class="form-group">
        <label for="emailLabel"><b>Email</b></label>
        <input type="text"id="emailLabel" class="form-control"name="email"[(ngModel)]="user.email"required #email="ngModel"/>
      </div>
      <div class="form-group">
        <label for="usernameLabel"><b>Felhasználónév</b></label>
        <input type="text"id="usernameLabel" class="form-control"name="username"[(ngModel)]="user.username"required #username="ngModel"/>
      </div>
      <div class="form-group">
        <label for="passwordLabel"><b>Jelszó</b></label>
        <input type="password"id="passwordLabel" class="form-control"name="password"[(ngModel)]="user.password"required #password="ngModel"/>
      </div>
      <div class="form-group">
        <button  class="btn btn-primary btn-block">Regisztráció</button>
        
      </div>
      <div class="alert alert-warning" *ngIf="isSignUpFailed">
        Hibás regisztráció!<br />{{ errorMessage }}
      </div>
      <div class="alert alert-success" *ngIf="isSuccessful">
      Sikeres regisztráció
    </div>
          </div>
        </div>
      </div>
    </form>

    
    <div style="text-align: center;margin-bottom: 10px;">
			Jelentkez be most-><a href="" routerLink="/login">[KATT IDE]</a>
		  </div>
  </div>
</div>
</section>