<div class="sidenote">
    <h1 class="contact">Kapcsolatok</h1>
    <p><mat-icon class="icon"> phone</mat-icon><span class="p1">+36-70-5152466</span></p>
    <p><mat-icon class="icon">mail</mat-icon><span class="p1">galvacs11@gmail.com</span></p>
  </div>
<section class="container">
    <div class="div1"><h1 class="h1title">Hallgató adatainak mentése</h1></div>
    <hr>
      <div class="col-md-5 left_inner_content">
        <form #studentAddForm="ngForm" (ngSubmit)="onAddStudent(studentAddForm)">
            <label for="name"class="form-label">Név:</label>
            <input type="text"ngModel class="form-control" name="name" id="name" placeholder="Név" required>
            <br>
            <label for="email"class="form-label">E-mail:</label>
            <input type="email"ngModel class="form-control"name="email" id="email" placeholder="teszt@teszt.hu">
            <br>
            <label for="school"class="form-label">Egyetem:</label>
            <input type="text" ngModel class="form-control"name="school" id="school" placeholder="Egyetem" required>
            <br>
            <label for="major"class="form-label">Szak:</label>
            <input type="text" ngModel class="form-control"name="major" id="major" placeholder="Szak" required>
            <br>
            <button [disabled]="studentAddForm.invalid" type="submit" class="btn btn-primary">Küldés/mentés</button>
        </form>
      </div>
